
.deal-board {
    height: 100%;
}

/* toolbar */
.deal-board .toolbar {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: flex-end;
    margin: 8px 0px 4px 0px;
}

.deal-board .toolbar .sort-selector,
.deal-board .toolbar .pipeline-selector{
    width: 150px;
}

.deal-board .toolbar .Select-control {
    height: 30px;
}

.deal-board .toolbar .Select-value {
    line-height: 28px;
}

.deal-board .toolbar .Select-input{
    height: 28px;
}

.deal-board .toolbar .Select-placeholder {
    line-height: 28px;
}



/* stages */

.deal-board .stages {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 40px;
    min-height: calc(100% - 44px);
}

.deal-board .lists {
    display: flex;
    overflow-x: auto;
    padding: 4px 10px;

}


.deal-board .list {
    width: 270px;
    flex: 0 0 auto;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: top;
    background-color: #ffffff;
    padding: 5px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;

}

.deal-board .list footer {
    line-height: 20px;
    padding: 5px 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888;
}

.deal-board .list ul {
    list-style: none;
    margin: 0;
    padding: 10px 10px;
}

.deal-board .list li {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 2px;
    height: 65px;
    max-height: 65px;

}

.deal-board .list li:hover {
    cursor: pointer;
    background: #fff;
}

.deal-board .list .placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #e7eaec !important;
}

.deal-board .stage-header {
    line-height: 20px;
    position: relative;
    padding: 3px 9px;
    zoom: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.deal-board .stage-name {
    font-weight: bold;
    white-space: normal;
    width: 100%;
}

.pac-container {
    background-color: #FFF;
    z-index: 10000;
    position: fixed;
    display: inline-block;
    float: left;
}

.card-body {
    height: 35px;
}

.info-card .dl-horizontal dt {
    width: 100px;
}

.info-card .dl-horizontal dd {
    margin-left: 120px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.small-line{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    min-height: 15px;
    margin-bottom: 1px;
}

.short-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.width-chars-9 {
    max-width: 9ch;
}

.width-chars-15 {
    max-width: 15ch;
}

.font-size-small{
    font-size: small;
}

.font-size-smaller{
    font-size: smaller;
}

.edit-trash-icon {
    display: flex;
    flex-direction: row-reverse;
    min-height: 10px;

}

.edit-trash-icon .edit-icon{
    padding: 2px;
}

.edit-trash-icon .trash-icon{
    padding: 1px;
    margin-left: 5px;
}

.potential-value{
    font-size: smaller;
    white-space: nowrap;
}

.dot {
    font-size: small;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.source-channel-product{
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    min-height: 15px;
    margin-bottom: 1px;
}

.deal-search {
    margin: 4px 10px 4px 10px;
}

