html{
  height:100vh;/* make sure it is at least as tall as the viewport */
}
body{
  min-height:100vh; /* force the BODY element to match the height of the HTML element */
}

#root{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
